extends base

block styles
  link(rel="stylesheet" href="/css/personalRecord.css")

block content

  // 🔹 TOP BAR
  .top-bar
    if user.userType === "user"
      a.dashboard-btn(href='/dashboard') Dashboard
    if user.userType === "coach"
      a.dashboard-btn(href='/coachDashboard') Dashboard
    if user.userType === "admin"
      a.dashboard-btn(href='/adminDashboard') Dashboard
    a.back-btn(href='javascript:history.back()') Back

  h1 #{title}
  h2 #{user.username}

  if user.pfpUrl
    img.profile-pic(src=user.pfpUrl alt="Profile Picture")
  else
    img.profile-pic(src="/img/default-user.png" alt="Default Profile")

  h3 Select a Muscle Group

  // MUSCLE GRID
  .target-grid#targetGrid

  // EXERCISE MODAL
  .modal.hidden#targetModal
    .modal-content.large
      button#closeTargetModal ×
      h3#targetTitle
      .exercise-list#targetExerciseList

  br
  div#prResult

block scripts

  // PASS EXERCISE DATA
  script#exercisesData(type="application/json").
    !{JSON.stringify(exercises)}

  script.
    window.exercises = JSON.parse(document.getElementById("exercisesData").textContent)

  script(src="/js/pr.js")