extends base

block styles
  link(rel="stylesheet" href="/css/signup.css")

block content
  form(id='signupForm' novalidate)
    h2 Create Account

    // 🔥 Global message area
    p.form-message#formMessage

    label(for='email') Email
    input(type='email' name='email' id='email' required)
    small.form-error#emailError

    label(for='username') Username
    input(type='text' name='username' id='username' required)

    label(for='pfpUrl') Profile Picture URL
    input(type='file' name='pfp' id='pfp' accept='image/*')

    label(for='password') Password
    input(type='password' name='password' id='password' required)
    small.form-error#passwordError

    label(for='passwordConfirm') Confirm Password
    input(type='password' name='passwordConfirm' id='passwordConfirm' required)
    small.form-error#passwordConfirmError


    .div.waiver-section
      p
        a(href="/waivers/GymSpire-waiver.pdf" target="_blank")
          | View Waiver (PDF)

      label(for="agreeWaiver")
        input(type="checkbox" id="agreeWaiver" name="agreeWaiver" required)
        |  I have read and agree to the waiver.

      small.form-error#waiverError
    button(type='submit' id='submitBtn')
      span.btn-text Create Account

    p.signup-login-link
      | Already have an account? 
      a(href='/login') Log in

block scripts
  script(src='/js/signup.js')
